<!DOCTYPE html>
<html>
   <body>
   	  {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}
   <link rel="stylesheet" href="/static/signup.css" type="text/css">
   <form action = "/sendpythondata" method = "post">
	<div class="Signup">
		<div class="Signup-screen">
			<div class="app-title">
			<h1>DashBoard</h1>
			</div>
			<div class="Signup-form">
			<center>
				<div class="control-group">
             	<input type="date" name="date">
				</div>
				<div class="control-group">
				<select name='email'>
				{% for each in dropdown_list %}
				<option value="{{each}}">{{each}}</option>
				{% endfor %}
				</select>
				</div>
				<!-- <input type="text" class="Signup-field" value="" placeholder="username" name="username"> -->
				
				<div class="control-group">
             	<input type="reset">
				</div>
				
			</center>
                <input type="submit" value="submit" class="btn btn-primary btn-large btn-block" >
			    <br>
			</div>
		</div>
	</div>
</form>
</body>
</html>