<!DOCTYPE html>
<html>
   <body>
   {%- for message in get_flashed_messages() %}
       <h3>  {{ message }}</h3>
   {%- endfor %}	  
   <link rel="stylesheet" href="/static/style.css" type="text/css">
    <form action = "{{ path }}" method = "POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Provide your email</h1>
			</div>
			<div class="login-form">
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="email" name="email">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>
                <input type="submit" value="Done" class="btn btn-primary btn-large btn-block" >
			    <br>
			</div>
		</div>
	</div>
	</form>
	</body>
</html>