<!DOCTYPE html>
<html>
   <body>
   {%- for message in get_flashed_messages() %}
         <h3>{{ message }}</h3>
   {%- endfor %}	  
   <h3><a href = "{{ url_for('submit') }}">Signup</a></h3> 
   <link rel="stylesheet" href="/static/style.css" type="text/css">
   <h3><a href="{{ url_for('oauth_authorize', provider='facebook') }}">Continue with Facebook</a></h3>
   <h3><a href="{{ url_for('oauth_authorize', provider='google') }}">Continue with google</a></h3>
   <h3><a href="{{ url_for('oauth_authorize', provider='twitter') }}">Continue with Twitter</a></h3>
    <form action = "/login_validate" method = "POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Login</h1>
			</div>
			<div class="login-form">
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="email" name="email">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

				<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="password" name="password">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>
                <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block" >
			    <br>
			</div>
		</div>
	</div>
	<h3><a href = "{{ url_for('reset_link') }}">Reset</a></h3> 
	</form>
	</body>
</html>