<!DOCTYPE html>
<html>
<head>
  <title>final</title>
  <style type="text/css" ">
  body {
    background-color: powderblue;
    width: 100%;
      height: 100%;
    }
    #map {
        width: 100%;
        height: 100%;
        position: absolute;
      }
      #floating-panel {
        position: absolute;
        top: 50px;
        left: 80%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
  
  </style>
  
</head>
<body>

        {% for message in get_flashed_messages() %}
            <p>{{ message }}</p>
        {% endfor %}
        {% if current_user.is_authenticated %}
            {% if current_user.username %}
            <h3>Hi, {{ current_user.username }}!</h3>
            <h3><a href="{{ url_for('logout') }}">Logout</a></h3>
            {% else %}
            <h2>Hi, {{ current_user.nickname }}!</h2>
            <h3><a href="{{ url_for('logout') }}">Logout</a></h3>
            {% endif %}
        {% else %}
            <h2>I don't know you!</h2>
            <h3><a href="{{ url_for('oauth_authorize', provider='facebook') }}">Login with Facebook</a></h3>
            <h3><a href="{{ url_for('oauth_authorize', provider='twitter') }}">Login with Twitter</a></h3>
            <h3><a href="{{ url_for('oauth_authorize', provider='google') }}">Login with google</a></h3>
            <h3><a href = "{{ url_for('login_page_render') }}">Login</a></h3> 
        {% endif %}

<div id="floating-panel">
    <div id="result" style="color:red; font-family: courier;">

        <!--Position information will be inserted here-->
    </div>
    <input type=button value='back'  onclick="document.location.href='/'">

  <button type="button" onclick="startWatch()" id="toggleWatchBtn">Start Watching</button><br>
   <label for="latitude">latitude</label><br>
     <input type="text" id="latitude" value="" /><br>
     <label for="longitude">longitude</label><br>
     <input type="text" id="longitude" value="" /><br>
   <label for="timestamp">timestamp</label><br>
     <input type="text" id="timestamp" value="" /><br>
     <label for="accuracy">accuracy</label><br>
     <input type="text" id="accuracy" value="" /><br>
     <label for="altitude">altitude</label><br>
     <input type="text" id="altitude" value="" /><br>
     <label for="altitudeAccuracy">altitudeAccuracy</label><br>
     <input type="text" id="altitudeAccuracy" value="" /><br>
     <label for="heading">heading</label><br>
     <input type="text" id="heading" value="" /><br>
     <label for="speed">speed</label><br>
     <input type="text" id="speed" value="" /><br>

      
</div>    

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>


<script type="text/javascript">
    // Set global variable
    var geodata=[];
    var watchID;
    var prevLat;
    var prevLong;
    //var timeout_flag;
    function showPosition(){
      /*if(watchID){
        navigator.geolocation.clearWatch(watchID);
            watchID = false;
            var positionOptions={};
          positionOptions.enableHighAccuracy=false;
          positionOptions.timeout=4;
          positionOptions.maximumAge=0;
          if(navigator.geolocation){
              watchID = navigator.geolocation.watchPosition(successCallback,errorHandler,positionOptions);
        } else{
            //alert("Sorry, your browser does not support HTML5 geolocation.");
            document.getElementById("result").innerHTML = "Sorry, your browser does not support HTML5 geolocation.";
        }
    }*/

      /*else{*/

      var positionOptions={};
        positionOptions.enableHighAccuracy=false;
        positionOptions.timeout=5000;
        positionOptions.maximumAge=0;
        if(navigator.geolocation){
            watchID = navigator.geolocation.watchPosition(successCallback,errorHandler,positionOptions);
        } else{
            //alert("Sorry, your browser does not support HTML5 geolocation.");
            document.getElementById("result").innerHTML = "Sorry, your browser does not support HTML5 geolocation.";
        }
   /* }*/
}
    function successCallback(position){
        console.log(position)
        toggleWatchBtn.innerHTML = "Stop Watching";
        
        // Check position has been changed or not before doing anything
        /*var prevLat;
        var prevLong;*/
        if(prevLat != position.coords.latitude || prevLong != position.coords.longitude){
            //document.getElementById("result").innerHTML="Tracking proces begin to continue";
            //console.log(prevLat)
            // Set previous location
            var prevLat = position.coords.latitude;
            //console.log(prevLat)
            var prevLong = position.coords.longitude;
            
            // Get current position
            //var positionInfo = "Your current position is (" + "Latitude: " + position.coords.latitude + ", " + "Longitude: " + position.coords.longitude + ")";
           // console.log(positionInfo)
            document.getElementById("latitude").value=position.coords.latitude;
            document.getElementById("longitude").value = position.coords.longitude;
            document.getElementById("timestamp").value=position.timestamp;
            document.getElementById("accuracy").value = position.coords.accuracy;
            document.getElementById("altitude").value=position.coords.altitude;
            document.getElementById("altitudeAccuracy").value = position.coords.altitudeAccuracy;
            document.getElementById("heading").value=position.coords.heading;
            document.getElementById("speed").value = position.coords.speed;
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude,
              timestamp:position.timestamp,
              speed:position.coords.speed,
              timeout_flag:0
            };
/*js to python*/
            $.post( "/postmethod", {
    data: JSON.stringify(pos)
});

  /* /*python to js*/
            
        }else
        {
          document.getElementById("result").innerHTML="same latlag";
        }
      
    }
//added
function errorHandler(err) {
           /* if(err.code == 1) {
               //alert("Error: Access is denied!");
               document.getElementById("result").innerHTML="Error:Access is denied!";

            }*/
            console.log("hi");
            console.log(err)
            document.getElementById("result").innerHTML=err.message;
            var pos = {
              lat: document.getElementById("latitude").value,
              lng:document.getElementById("longitude").value,
              timestamp:document.getElementById("timestamp").value,
              //speed:document.getElementById("speed").value,
              speed:0,
              timeout_flag:1
            };
/*js to python*/
            $.post( "/postmethod", {
    data: JSON.stringify(pos)
});
            console.log("hello");
            /*showPosition();*/
            /*else if( err.code == 2) {
               //alert("Error: Position is unavailable!");
               document.getElementById("result").innerHTML="Error: Position is unavailable!";
            }*/
           
         }



       
//end
    function startWatch(){
        //var result = document.getElementById("result");
        //var data = document.getElementById("data");
        
        var toggleWatchBtn = document.getElementById("toggleWatchBtn");
        
        //toggleWatchBtn.onclick = function(){
            console.log(watchID)
            if(watchID){
                toggleWatchBtn.innerHTML = "Start Watching";
                navigator.geolocation.clearWatch(watchID);
                watchID = false;
            }
            else{
                toggleWatchBtn.innerHTML = "Aquiring Geo Location...";
                showPosition();
            }
        }
    
    
    // Initialise the whole system (above)
    //window.onload = startWatch;

</script>
</body>
</html>