<html>
    <head>
        <title>OAuth Flask Demo</title>
    </head>
    <body>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
    <input type=button value='get direction'  onclick="document.location.href='/both_end/direction/drawing/'">

    <input type=button value='user current location'  onclick="document.location.href='/current/location'">
    <input type=button value='user visited places'  onclick="document.location.href='/visited/places'">
<input type=button value='user entire direction'  onclick="document.location.href='/only/direction'">
        <!--{# {% for message in get_flashed_messages() %}
            <p>{{ message }}</p>
        {% endfor %}
        {% if current_user.is_authenticated %}
            {% if current_user.username %}
            <h3>Hi, {{ current_user.username }}!</h3>
            <h3><a href="{{ url_for('logout') }}">Logout</a></h3>
            {% else %}
            <h2>Hi, {{ current_user.nickname }}!</h2>
            <h3><a href="{{ url_for('logout') }}">Logout</a></h3>
            {% endif %}
        {% else %}
            <h2>I don't know you!</h2>
            <h3><a href="{{ url_for('oauth_authorize', provider='facebook') }}">Login with Facebook</a></h3>
            <h3><a href="{{ url_for('oauth_authorize', provider='twitter') }}">Login with Twitter</a></h3>
            <h3><a href="{{ url_for('oauth_authorize', provider='google') }}">Login with google</a></h3>
            <h3><a href = "{{ url_for('login_page_render') }}">Login</a></h3> 
        {% endif %} #}-->
    </body>
</html>