<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }

    </style>
  </head>
  <body>
  <div id="floating-panel">
  <input type=button value='back'  onclick="document.location.href='/'">
  </div>
    <div id="map"></div>
    <script>

    /*map*/
      var map;
      function initMap() {
        var location={lat: {{lat}}, lng: {{lon}}}
        map = new google.maps.Map(document.getElementById('map'), {
          center: location,
          zoom: 8
        });


      /*maker*/
        var markerOffice = new google.maps.Marker({
            position: location,
            map: map,
            label: 'A'
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTvweI36MruTx_0QMFzaPMvLOwiLhOvPs&callback=initMap"
    async defer></script>
  </body>
</html>