<!DOCTYPE html>
<html>
   <body>
   	  {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}
   <link rel="stylesheet" href="/static/signup.css" type="text/css">
	        <h3><a href = "{{ url_for('login_page_render') }}">Login</a></h3> 
            <h3><a href="{{ url_for('oauth_authorize', provider='facebook') }}">Continue with Facebook</a></h3>
            <h3><a href="{{ url_for('oauth_authorize', provider='twitter') }}">Continue with Twitter</a></h3>
            <!-- <a href={{ url_for('oauth_authorize', provider='google') }}><img src="{{ url_for('static', filename='img/sign-in-with-google.png') }}" /></a> -->
            <h3><a href="{{ url_for('oauth_authorize', provider='google') }}">Continue with google</a></h3>
   <!--  <form action = "{{ request.path }}" method = "post"> -->
   <form action = "/signup_validate" method = "post">
	<div class="Signup">
		<div class="Signup-screen">
			<div class="app-title">
			<h1>Signup</h1>
			</div>
			<div class="Signup-form">
			<center>
				<div class="control-group">
				<input type="text" class="Signup-field" value="" placeholder="username" name="username">
				</div>
				<div class="control-group">
				<input type="test" class="Signup-field" value="" placeholder="email" name="email">
				</div>
				<div class="control-group">
				<input type="password" class="Signup-field" value="" placeholder="password" name="password">
				</div>
			</center>
                <input type="submit" value="Signup" class="btn btn-primary btn-large btn-block" >
			    <br>
			</div>
		</div>
	</div>
</form>
</body>
</html>