<!DOCTYPE html>
<html>
   <body>
   	  {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}
   <link rel="stylesheet" href="/static/signup.css" type="text/css">
   <form action = "/signup_validate" method = "post">
	<div class="Signup">
		<div class="Signup-screen">
			<div class="app-title">
			<h1>DashBoard</h1>
			</div>
			<div class="Signup-form">
			<center>
				<div class="control-group">
				<input type="text" class="Signup-field" value="" placeholder="username" name="username">
				</div>
				<div class="control-group">
				<input type="test" class="Signup-field" value="" placeholder="email" name="email">
				</div>
				<div class="control-group">
				<input type="password" class="Signup-field" value="" placeholder="password" name="password">
				</div>
			</center>
                <input type="submit" value="Signup" class="btn btn-primary btn-large btn-block" >
			    <br>
			</div>
		</div>
	</div>
</form>
</body>
</html>