<!DOCTYPE html>
<html>
   <body>
   {%- for message in get_flashed_messages() %}
         {{ message }}
   {%- endfor %}	  
    <link rel="stylesheet" href="/static/signup.css" type="text/css">
    <form action = "/username_validate" method = "POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
			</div>
			<div class="login-form">
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="username" name="username">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>
                <input type="submit" value="ok" class="btn btn-primary btn-large btn-block" >
			    <br>
			</div>
		</div>
	</div>
	</form>
	</body>
</html>