<!DOCTYPE html>
<html>
<<head>
  <meta charset="utf-8">
  <title>User Routes</title>
  <style type="text/css" ">
  body {
    background-color: powderblue;
    width: 100%;
      height: 100%;
    }
    #map {
        width: 100%;
        height: 100%;
        position: absolute;
      }
      #floating-panel {
        position: absolute;
        top: 50px;
        left: 80%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
  
  </style>
</head>
<body>

<select name='email'>
        {% for each in coords_list %}
        <option value="{{each}}">{{each.latitude}}</option>
        {% endfor %}
</select>


<div id="floating-panel">
  <input type=button value='back'  onclick="document.location.href='/dashboard'">
</div>

<div id="map" style="width:70%;height:100; margin:0px auto; display:inline-block"></div>

<!-- <script>
  var coords_list={{coords_list}}
  console.log(coords_list)
</script> -->

<script>
var map;
var flightPath;
function myMap() {
  var mapCanvas = document.getElementById("map");
  var mapOptions = {
    center: new google.maps.LatLng(13.0827, 80.2707),
    zoom: 7,
    panControl: true,
    zoomControl: true,
    mapTypeControl: true,
    scaleControl: true,
    streetViewControl: true,
    overviewMapControl: true,
    rotateControl: true   
  };
 map = new google.maps.Map(mapCanvas, mapOptions);

var drawingManager = new google.maps.drawing.DrawingManager({
          drawingMode: google.maps.drawing.OverlayType.MARKER,
          drawingControl: true,
          drawingControlOptions: {
            position: google.maps.ControlPosition.TOP_CENTER,
            drawingModes: ['marker', 'circle', 'polygon', 'polyline', 'rectangle']
          },
          markerOptions: {icon: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png'},
          circleOptions: {
            fillColor: '#ffff00',
            fillOpacity: 1,
            strokeWeight: 5,
            clickable: false,
            editable: true,
            zIndex: 1
          }
        });
        drawingManager.setMap(map);
        
        {% for each in coords_list %}
        console.log({{each.latitude}})

        var flightPathCoordinates = [
          {lat: {{each.latitude}}, lng: {{each.longitude}}}
        ];

        flightPath = new google.maps.Polyline({
          path: flightPathCoordinates,
          strokeColor: '#FF0000',
          strokeOpacity: 1.0,
          strokeWeight: 2
        });

        flightPath.setMap(map);

        {% endfor %}
      }

        

      /*function addLine() {
        flightPath.setMap(map);
      }

      function removeLine() {
        flightPath.setMap(null);
      }*/







</script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTvweI36MruTx_0QMFzaPMvLOwiLhOvPs&libraries=drawing&callback=myMap">
</script>
</body>
</html>